<header>
  <nav>
    <h2 class="logo"><a href="http://localhost:3000/">Blog App</a></h2>
    <div class="links">
      <a href="http://localhost:3000/">Home</a>
      <a href="http://localhost:3000/about">About</a>
      <a href="https://sameerxportfolio.netlify.app/" target="_blank">Portfolio</a>
    </div>
  </nav>
</header>
