<header>
  <nav>
    <h2 class="logo">Blog App</h2>
    <div class="links">
      <a href="http://localhost:3000/#">Home</a>
      <a href="#">My Blogs</a>
      <a href="#">Contact me</a>
    </div>
  </nav>
</header>
