<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
</head>
<body style="height: 95vh;border-radius: 10px;">
    <h1 style="font-size: 50px ;font-family: Poppins , sans-serif;font-weight: 400;padding: 250px 300px;text-align: center;
    ">This is a simple <strong style="color: #468585;font-weight: 600;">Blog app</strong> based on basic <span style="font-weight: 500;font-size: 45px;margin-top: 30px;letter-spacing: 4px;">CRUD</span> operations <br> <span style="color: #478CCF;display: block;font-size: 25px;margin-top: 30px;letter-spacing: 4px;"><strong>~ </strong>  made using ExpressJs 🌊</span></h1>
</body>
</html>